a {
    color: #777777;
}

.pageContent {
    background-image: url(images/circles-light.png);
}

#myName {
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 28px;
    border-color: #fff;
}

#navButtons {
    text-align: end;
}

#aboutMe {
    background-color: #fff;
    color: #777777;
    border-color: #fff;
}

#portfolio {
    background-color: #fff;
    color: #777777;
    border-color: #fff;
}

#contact {
    background-color: #fff;
    color: #777777;
    border-color: #fff;
    padding: 3%;
}

#psychic {
    background-image: url(images/psychic.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#crystal-collector {
    background-image: url(images/crystals.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#trivia-game {
    background-image: url(images/trivia_logo_2.jpg);
    background-size: 280px 280px;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#gifs {
    background-image: url(images/kobe.jpg);
    background-size: 350px 250px;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#wedding {
    background-image: url(images/wedding.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

@media screen and (max-width: 768px) {

#navMyName {
    text-align: center;
}

#navButtons {
    text-align: center;
}


}